.controls{
    visibility: hidden;
}
body{
    background-color: #F5F5DC;
    }
textarea{
    resize: none;
}

.matrixContainer{
    width:fit-content;
    height: fit-content;
    left: 5%;
    top: 5%;
    display: grid;
    background-color: black;
    border-style: solid;
    border-width: 1px;
}
.spot{
    background-color: #ff4f00;
    display: flex;
   align-items: center;
   border-style: solid;
   border-width: 2px;
   min-width: vmax;
}
